<% if @best_sellers.empty? %>
  <p>There are no items in baking factory!!</p>
<% else %>
<h3> Suggested Items </h3>

  <table class = "striped highlight">
    <thead>
      <th>Name</th>
      <th>Units Per Item</th>
      <th>Price</th>
      <% if can? :edit, @best_sellers %>
      <th class="align_center">Options</th>
      <% end %>
    </thead>
    <% for item in @best_sellers %>
      <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <td><%= link_to item.name, item_path(item.id) %></td>
        <td><%= item.units_per_item %></td>
        <td><%= number_to_currency item.current_price %></td>

      <td class="align_center">
        <% if can? :edit, item %>
          <%= link_to edit_item_path(item) do %>
                <i class="material-icons">edit</i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp; 
          <% else %>
           <%= link_to(add_to_cart_path(item.id), class: 'waves-effect waves-light btn', method: "get") do %>
                &nbsp;Add to Cart&nbsp;
          <% end %>
          <% end %>
          <% if can? :destroy, item %>
            <%= link_to(item_path(item), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                <i class="material-icons">delete</i>
            <% end %>
          <% end %>
      </td>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
<% end %>