<% if order_items.empty? %>
<h4> No items to be shipped! </h4>
<%else %> 

  <table class="table table-striped">
    <thead>
      <tr>
        <th width="100">Quantity</th>
        <th width="150">Item</th>
        <th width="200">Address</th>
        <th width="100">Address 2</th>
        <th width="100">City</th>
        <th width="100">State</th>
        <th width="100">Zip</th>
        <% if controller.controller_name == 'home' %>
          <th>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% order_items.each do |oi| %>
        <tr>
          <td align="center"><%= oi.quantity %></td>
          <td><%= link_to oi.item.name, item_path(oi.item) %></td>
          <td><%= oi.order.address.street_1%></td>
          <td><%= oi.order.address.street_2%></td>
          <td><%= oi.order.address.city%></td>
          <td><%= oi.order.address.state%></td>
          <td><%= oi.order.address.zip%></td>

            <td>
              <% if oi.shipped_on.nil? %>
                <%= link_to(oi.quantity, mark_shipped_path(oi.id), method: 'patch') %>
              <% else %>
                <%= link_to(oi.quantity, mark_unshipped_path(oi.id), method: 'patch') %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end %>