<!-- <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script> 
	Highcharts.chart('container', {

    chart: {
        type: 'column'
    },

    title: {
        text: 'Total fruit consumtion, grouped by gender'
    },

    xAxis: {
        categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
    },

    yAxis: {
        allowDecimals: false,
        min: 0,
        title: {
            text: 'Number of fruits'
        }
    },

    tooltip: {
        formatter: function () {
            return '<b>' + this.x + '</b><br/>' +
                this.series.name + ': ' + this.y + '<br/>' +
                'Total: ' + this.point.stackTotal;
        }
    },

    plotOptions: {
        column: {
            stacking: 'normal'
        }
    },

    series: [{
        name: 'John',
        data: [5, 3, 4, 7, 2],
        stack: 'male'
    }, {
        name: 'Joe',
        data: [3, 4, 4, 2, 5],
        stack: 'male'
    }, {
        name: 'Jane',
        data: [2, 5, 6, 2, 1],
        stack: 'female'
    }, {
        name: 'Janet',
        data: [3, 0, 4, 4, 3],
        stack: 'female'
    }]
});
</script> -->

<%= javascript_include_tag 'application' %>
<head>
	<h3> Dashboard </h3>
	<br\>
	<h5> Items </h5>
<%= bar_chart OrderItem.shipped.group(:item).count %>
</head>

<h5> Sales </h5>
<p>
	Total Revenue: <%= number_to_currency @total_revenue %>
</p>

<p>
Highest Paid Orders:
<% @new_tc.each do |a| %>
	 <%= number_to_currency a %>; 
<%end%>
</p>

<p>
	Average Customer Has Spent: <%=number_to_currency @avg_order %>
</p>
<br\>


<p>
	Average Items per Order: <%= @avg_items %> items
</p>
<br\>


<h5> Customers </h5>
<p>
	Active Customers: <%= @num_active_customers %>
</p>
<br\>

<p>
	Inactive Customers: <%= @num_inactive_customers %>
</p>
<br\>

<p>
	Returning Customers: <%= @returning_customers %>
</p>
</br\>


<p>
	Active Returning Time Customers: <%= @returning_customers_active %>
</p>
</br\>

