<h3 align = "center"><%= @item.name %></h3>

<% if @item.photo_url.nil? %>
<p>
	<%= image_tag('default_image.png', :size => "200x200", class: "img-responsive center-block") %>
</p>
<% else %>
    	<%= image_tag(@item.photo_url, :size => "200x200", class: "img-responsive center-block") %>
<% end %>

<p>
  <b>Price</b>: <%= number_to_currency @item.current_price %>
</p>

<p>
  <b>Desription</b>: <%= @item.description %>
</p>

<p>
  <b>Units Per Item</b>: <%= @item.units_per_item %>
</p>

<% if !can? :edit, @item %>
<%= link_to(add_to_cart_path(@item.id), class: 'waves-effect waves-light btn', method: "get") do %>
                &nbsp;Add to Cart&nbsp;
     <%end%>
 <% end %>

 <% if can? :edit, @item && @item.active?%>
<%= link_to(item_inactive_path(@item.id), class: 'waves-effect waves-light btn', method: "patch") do %>
                &nbsp;Make Active&nbsp;
                <%end%>
 <%elsif can? :edit, @item && !@item.active? %>
 <%= link_to(item_inactive_path(@item.id), class: 'waves-effect waves-light btn', method: "patch") do %>
                &nbsp;Make Inactive&nbsp;
                <%end%>
  <% end %>

