<h3><%= @item.name %></h3>

<p>
  <b>Price</b>: <%= number_to_currency @item.current_price %>
</p>

<p>
  <b>Desription</b>: <%= @item.description %>
</p>

<p>
  <b>Units Per Item</b>: <%= @item.units_per_item %>
</p>

<% if !can? :edit, @item %>
<%= link_to(add_to_cart_path(@item.id), class: 'button tiny radius', method: "get") do %>
                &nbsp;Add to Cart&nbsp;
 <% end %>
  <% end %>

