<%= render :partial => "partials/title_with_search", locals: {title: "Items"} %>

<% if items.empty? %>
  <p>There are no <%= state.downcase %> items at this time.</p>
<% else %>

  <table class="striped highlight">
    <thead>
      <th >Image</th>
      <th >Name</th>
      <th>Units Per Item</th>
      <th>Price</th>
      <% if can? :edit, items %>
      <th class="align_center">Options</th>
      <% end %>
    </thead>
    <% for item in items %>
      <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
        <%if !item.photo_url.nil? %>
        <td><%= image_tag(item.photo, :size => "60x60") %></td>
        <% else %>
        <td><%= image_tag("default_image.png", :size => "60x60") %></td>
        <%end%>
        <td><%= link_to item.name, item_path(item) %></td>
        <td><%= item.units_per_item %> <%= item_type == 'bread' ? 'loaf' : item_type %></td>
        <td><%= number_to_currency item.current_price %></td>

      <td class="align_center">
        <% if can? :edit, item %>
          <%= link_to edit_item_path(item) do %>
                <i class="material-icons">edit</i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp; 
          <% elsif can? :add_to_cart, item %>
           <%= link_to(add_to_cart_path(item.id), class: "waves-effect waves-light btn", method: "get") do %>
                &nbsp;Add to Cart&nbsp;
            <% end %>
          <% else %>
          <%= link_to(login_path, class: 'waves-effect waves-light btn', method: "get") do %>
                &nbsp;Add to Cart&nbsp;
            <% end %>
          <% end %>
          <% if can? :destroy, item %>
            <%= link_to(item_path(item), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                <i class="material-icons">delete</i>
            <% end %>
          <% end %>
          <% if can? :destroy, item %>
            <% if item.active? %>
            <%= link_to(image_tag('minus.png', :size => "30x30"), item_inactive_path(item), method: 'patch') %>
            <%else %>
            <%= link_to(image_tag('plus.png', :size => "30x30"), item_inactive_path(item), method: 'patch') %>
            <%end%>
          <% end %>
      </td>
      </tr>
    <% end %>
  </table>
  <p class="supertiny"></p>
  <br />
  <%= will_paginate items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>